/* ------------------
    COMMON CLASSES
--------------------- */
body {
    color: white;
    line-height: 1;
}

.v_center {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    display: inline-block;
}

.rule {
    height: 3px;
    border-radius: 3px;

    background-color: azure;
    display: inline-block;
}

/* FONT SIZES */
h5 {
    margin: 0;
}
.small_text {
    font-size: 10px;
}


/* ------------------
    NAVBAR
--------------------- */
header {
    color: white;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #282828;

    padding: 10px;

    position: fixed;
    bottom: 0;
}

.tool_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.album_playing > div {
    display: inline-block;   
    margin-right: 10px;
}
.album_playing > .album_name {
    margin-right: 25px;
}
.album_playing .far {
    margin: 0 4px;
}

.tool_bar .cover_img_container {
    width: 50px;
}

.player {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.time_line {
    width: 100%;
}

/* pulsanti timeline */
.buttons {
    font-size: 18px;
}
.fa-play-circle {
    font-size: 30px;
}

.buttons .fa, .buttons .far, .buttons .fas,
.buttons .glyphicon {
    margin: 0 8px;
}

/* icone volume */
.volume .fas {
    margin: 0 5px;
    font-size: 12px;
}


/* riga timeline e volume */
.rule.timing {
    width: 75%;
    margin: 0 15px;
}
.rule.voluming {
    width: 80px;
}


.tool_bar h5 {
    margin: 0;
}

.time_line span,
.volume i,
.fa-play-circle {
    vertical-align: sub;
}

/* ------------------
    MAIN SECTION
--------------------- */
main {
    display: flex;
}

aside {
    width: 200px;
    background-color: #1b1e23;

    padding: 20px;

    display: flex;
    flex-direction: column;
}

section {
    width: calc(100% - 200px);
    background-color: #28333f;

    max-height: calc(100vh - 60px);
    overflow: auto;
}

aside,
section {
    height: calc(100vh - 80px);
}

.upgrade_row {
    background-color: #080b12;
    padding: 15px 10px;
}
.upgrade_row .btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 16px;
    font-size: 12px;
    padding: 8px 16px;
}


/* ------------------
    MENU ASIDE
--------------------- */
.logo_container {
    width: 70%;
    margin-bottom: 8px;
}

.menu_icon {
    width: 20px;
}

aside .logo_container a {
    padding-top: 0;
}
aside a {
    width: 100%;
    padding: 8px 0;
}

.playlists {
    max-height: calc(100vh - 60px);
    overflow: auto;

    flex-grow: 1;
}

.profile_icon {
    display: inline-block;
    background-color: rgb(150, 150, 150);
}
.profile_icon,
.profile_icon img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.install_container {
    border-bottom: 1px solid rgb(150, 150, 150);
}

aside li,
.install_container {
    font-size: 13px;
}

/* --------------------------
    YOUR SPOTIFY SECTION
-------------------------- */
.evidenza_list {
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 500;
}
.evidenza_list a {
    padding: 15px 10px;
}


.title_block {
    padding: 1%;
}

.covers_container {
    display: flex;
    flex-wrap: wrap;
}



.cover {
    padding: 1%;

    max-width: 200px;
    flex-basis: calc(100% / 6);
}

.cover_img_container img {
    width: 100%;
}

/* ------------------
    UTILITY CLASSES
--------------------- */
h3 {
    background-color: cornflowerblue;
    border: solid;
}

.content {
    background-color: rgb(112, 112, 112);
    width: 100%;
    height: 100%;
    border: 1px solid rgb(216, 216, 216);
} 

.hidden {
    display: none;
}




/* ---------------------------
   LG DEVICES MEDIA QUERIES
---------------------------- */
@media all and (min-width: 1201px) {

    
}

/* ---------------------------
   MD DEVICES MEDIA QUERIES
---------------------------- */
@media all and (max-width: 1200px) {
    
    .cover {
        padding: 2%;
        max-width: 300px;
        flex-basis: calc(100% / 4);
    }
    
}


/* ---------------------------
   SM DEVICES MEDIA QUERIES
---------------------------- */
@media all and (max-width: 991px) {

    /* NAV */
    .tool_bar .cover_img_container {
        width: 45px;
    }
    .album_playing > .album_name {
        margin-right: 15px;
    }

    .album_playing .far {
        display: block;
        margin: 0;
    }

    .album_playing a {
        padding: 5px 0;
    }

    /* YOUR SPOTIFY SECTION */
    .cover {
        padding: 2%;
        max-width: 350px;
        flex-basis: calc(100% / 2);
    }

}

/* ---------------------------
   XS DEVICES MEDIA QUERIES
---------------------------- */
@media all and (max-width: 767px) {

    /* NAV */
    .tool_bar .cover_img_container {
        width: 30px;
    }
    .album_name{
        max-width: 45px;
    }
    .album_playing > div,
    .album_playing .album_name {
        margin-right: 3px;
    }

    .fa-play-circle {
        font-size: 26px;
    }
    .buttons {
        font-size: 14px;
    }

    .buttons .fa, .buttons .far, .buttons .fas, 
    .buttons .glyphicon,
    .volume .fas  {
        margin: 0 2px;
    }

    .rule.timing {
        width: 55%;
        margin: 0 5px;
    }
    .rule.voluming {
        width: 45px;
    }

    .tool_bar h5 {
        font-size: 12px;
    }

    /* ASIDE MENU */
    aside {
        width: 60px;
        padding: 10px 5px;
        align-items: center;
    }

    .logo_container {
        width: 35px;
        margin-bottom: 5px;
    }
    .menu_icon{
        width: 25px;
        margin: 5px 0;
    }

    .playlists li {
        display: none;
    }

    .install_container {
        border-bottom: 0;
    }

    /* YOUR SPOTIFY SECTION  */
    section {
        width: calc(100% - 60px);
    }
}